.explorePage {
    height: auto;
    padding-top: 100px;
    padding-left: 20px;
    padding-right: 20px;

    .resultNotFound {
        font-size: 24px;
        color: #173d77;
    }

    .pageHeader {
        display: flex;
        justify-content: space-between;
        margin-bottom: 25px;
        flex-direction: column;

        @media (min-width: 768px) {
            // Thay đổi các thuộc tính ở đây cho kích thước màn hình nhỏ hơn 768px
            flex-direction: row;
        }
    }

    .pageTitle {
        font-size: 24px;
        line-height: 34px;
        color: white;
        margin-bottom: 20px;
    }

    .filters {
        display: flex;
        gap: 10px;
        flex-direction: column;

        @media (min-width: 768px) {
            // Thay đổi các thuộc tính ở đây cho kích thước màn hình nhỏ hơn 768px
            flex-direction: row;
        }

        .react-select-container {
            &.genresDD {
                width: 100%;

                @media (min-width: 768px) {
                    // Thay đổi các thuộc tính ở đây cho kích thước màn hình nhỏ hơn 768px
                    max-width: 500px;
                    min-width: 250px;
                }
            }

            &.sortbyDD {
                width: 100%;
                flex-shrink: 0;

                @media (min-width: 768px) {
                    // Thay đổi các thuộc tính ở đây cho kích thước màn hình nhỏ hơn 768px
                    width: 250px;
                }
            }

            .react-select__control {
                border: 0;
                outline: 0;
                box-shadow: none;
                background-color: #173d77;
                border-radius: 20px;

                .react-select__value-container {

                    .react-select__placeholder,
                    .react-select__input-container {
                        color: white;
                        margin: 0 10px;
                    }
                }

                .react-select__single-value {
                    color: white;
                }

                .react-select__multi-value {
                    background-color: black;
                    border-radius: 10px;

                    .react-select__multi-value__label {
                        color: white;
                    }

                    .react-select__multi-value__remove {
                        background-color: transparent;
                        color: white;
                        cursor: pointer;

                        &:hover {
                            color: var(--black-lighter);
                        }
                    }
                }
            }

            .react-select__menu {
                top: 40px;
                margin: 0;
                padding: 0;
            }
        }
    }
}